.blue {
  color: aqua;
}
.activeSlide {
  opacity: 1;
  transform: translate(0);
}
.lastSlide {
  transform: translateX(-100%);
}
.nextSlide {
  transform: translateX(100%);
}
.trans {
  transition: all 0.3s linear;
}
.image {
  transition: all 2s linear;
}

.name {
  transition: all 1.2s linear;
}
.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: "cover";
}
.dots {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
.bg1 {
  background-image: url("");
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}
.typewriter {
  font-size: medium;
}
.bold1 {
  font-weight: 900;
}
.year {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-shadow: 2px 0 #ff9d01, -2px 0 #ff9d01, 0 2px #ff9d01, 0 -2px #ff9d01,
    1px 1px #ff9d01, -1px -1px #ff9d01, 1px -1px #ff9d01, -1px 1px #ff9d01;
}
.background {
  height: 100vh !important ;
  background-position-x: 0;
  background-size: cover;
  background-position-y: -80px;
}

@media screen and (max-width: 768px) {
  .background {
    height: 620px !important ;
    background-position-x: 55px;
    background-position-y: -20px;
  }
  .slide .slick-list {
    padding: 16px 0px;
    height: 606px !important ;
  }
}

@media screen and (max-width: 500px) {
  .background {
    height: 700px !important ;
    background-position-x: -210px;
    background-position-y: 0px;
  }
}
